body {
    background-color: #39a275;
    margin: 0;
}

#root {
    display:inline-block;
    margin: 0 0;
    width: 100vw;
    height: 100vh;
}

#roulette {
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    text-align: center;
    margin: calc(50vh - 35vmin) 0 calc(50vh - 35vmin);
    width: 100vw;
    height: 70vmin;
    color: #d32f2f;
}

p {
    font-size: 60vmin;
    text-align: center;
    margin: 0;
    height: 100%;
    bottom: 0;
    overflow: hidden;
}
